body {
  background: linear-gradient(135deg, #1a0f47 0%, #13141d 50%, #283361 100%);
  margin: 0;
  font-family: Arial, sans-serif;
}


.progresso-container {
  padding: 20px;
  max-width: 90%; 
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 80px; 
}

.progresso-bar {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.progresso {
  height: 100%;
  background-color: #76c7c0;
  border-radius: 10px;
}

.modulos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.modulo {
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.modulo.concluido {
  background-color: #76c7c0;
}

.modulo.pendente {
  background-color: #f1f1f1;
}

.calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 5px;
  margin-top: 10px;
}

.dia {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dia.estudado {
  background-color: #4caf50;
  color: white;
}

.dia-numero {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.dia.estudado .dia-numero {
  color: white;
}


@media (max-width: 768px) {
  .progresso-container {
    padding: 15px;
    margin-top: 60px; 
  }

  .progresso-bar {
    height: 15px;
  }

  .calendario {
    grid-template-columns: repeat(7, 1fr); 
  }

  .dia {
    width: 30px;
    height: 30px;
  }

  .progresso {
    height: 100%;
    transition: width 0.5s ease-in-out;
  }

  h2 {
    font-size: 1.5rem; 
  }

  .dias-estudados p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .progresso-container {
    padding: 10px;
    margin-top: 50px; 
  }

  .progresso-bar {
    height: 12px;
  }

  .progresso {
    height: 100%;
    transition: width 0.5s ease-in-out;
  }

  .calendario {
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
  }

  .dia {
    width: 25px;
    height: 25px;
  }

  .dia-numero {
    font-size: 12px;
  }

  .progresso-container h2 {
    font-size: 1.2rem;
  }

  .dias-estudados p {
    font-size: 0.9rem;
  }

 
  .recharts-responsive-container {
    height: 250px;
  }
}
