.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1a0f47 0%, #13141d 50%, #283361 100%); 
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .intro-content {
    flex: 1;
    max-width: 600px;
    text-align: left; 
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .intro-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
  }
  
  .intro-content h2, .intro-content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    line-height: 1.6;
    opacity: 0.9;
    animation: fadeInText 2s ease-out;
  }
  
  .intro-button {
    padding: 12px 25px;
    font-size: 1.2rem;
    background-color: #fff;
    color: #283361; /* Cor mais escura do gradiente */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
  }
  
  .intro-button:hover {
    background-color: #f1f1f1;
    transform: translateY(-3px);
  }
  
  .intro-image {
    display: none; /* Não está sendo usada neste momento */
  }
  
  /* Animações */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  