/* Navbar - Estilos principais */
.navbar {
    background: transparent;
    /* backdrop-filter: blur(10px); */
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navbar-logo {
    padding-top: 13px;
}

.navbar-logo img {
    height: 38px;
    width: 68px;
    padding-left: 20px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 0.6rem;
    margin-left: 103%; /* Ajustar para centralizar corretamente */
}

.navbar-menu li {
    list-style: none; /* Para evitar marcas de lista */
}

/* Links */
.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-link:hover {
    color: #d1e8ff;
}

/* Botões */
.navbar-button {
    background: white;
    color: #1e3a8a;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-button:hover {
    background: #d1e8ff;
}

.container {
    padding-top: 70px; /* Espaço para o navbar fixo */
}

.navbar.home {
    background: transparent;
}

.navbar.home .navbar-logo img {
    height: 50px;
    width: auto;
}

.navbar.home .navbar-menu {
    margin-right: 2rem;
}

/* Responsividade: Menu hamburguer */
@media (max-width: 768px) {
    /* Ajustes para o navbar em telas pequenas */
    .navbar.home .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    /* Menu visível quando 'active' */
    .navbar.home .navbar-menu.active {
        display: flex;
    }

    .navbar.home .navbar-menu li {
        padding: 0.8rem 0;
    }

    /* Exibe o ícone de hamburguer apenas em telas pequenas */
    .navbar-home-hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar-home-hamburger img {
        width: 30px;
        height: auto;
    }

    /* Ajustar a altura do logo para telas pequenas */
    .navbar-logo img {
        height: 40px;
    }
}

@media (min-width: 769px) {
    /* Esconde o ícone de hamburguer em telas maiores que 768px */
    .navbar-home-hamburger {
        display: none;
    }
}
